extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sGuarantees/_sGuarantees.pug
include ../blocks/sExamples/_sExamples.pug
include ../blocks/sWithFamily/_sWithFamily.pug
include ../blocks/sLocation/_sLocation.pug
include ../blocks/sSpecialist/_sSpecialist.pug
include ../blocks/sMyths/_sMyths.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sProblem/_sProblem.pug

block variables
	- let  mainPage= 'dentLines'
block title
	- let  title= 'Лечение зубов'
	title= title
block pagecontent
	+header()
		+topLine()
		+top-nav(class='d-none d-lg-block')
	+sForm-04(class='bg-light')
	+sExamples-04()
	+sGuarantees(class="sGuarantees-bgLight")
		+b.section-title
			h2(style='font-weight: normal;') Посмотрите, почему в&nbsp;нашей цифровой стоматологии нового поколения зубы лечат безболезненно и&nbsp;с&nbsp;гарантией

		div
			mixin item(i,h)
				+e.item
					.row
						+e.col.col-lg-6
							+e.img-wrap2
								+e.img-wrap
									video#bgvid.fillItUp.video(  loop='loop')
										source(src='video/video.mp4' loading='lazy' type='video/mp4')
										source(src='video/video.ogv' loading='lazy' type='video/ogv')
										source(src='video/video.webm' loading='lazy' type='video/webm')
									span.sReviews__iconWrap
										svg.icon.icon-play
											use(xlink:href='img/svg/sprite.svg#play')

						.col-lg-6
							+e.text-block
								.h4!= h
								block

			+item(4, 'Не&nbsp;причиняем боли&nbsp;&mdash; работаем с&nbsp;компьютерной анестезией или наркозом')
				p Мы&nbsp;первые в&nbsp;Харькове, кто стал использовать компьютерную анестезию. Аппарат со&nbsp;специальным программным обеспечением дозирует обезболивающее со&nbsp;скоростью 1&nbsp;капля в&nbsp;две секунды. Сам укол не&nbsp;чувствуется совсем, обезболивается конкретный зуб, а&nbsp;#[strong не]&nbsp;вся челюсть и&nbsp;щёки, как раньше.

				p Если нужно, снижаем порог чувствительности закись-азотной кислородной смесью (ЗАКС). Ощущения&nbsp;&mdash; будто после бокала шампанского. А&nbsp;для большего расслабления мы&nbsp;вам дадим посмотреть фильм в&nbsp;очках, пока мы&nbsp;работаем
				
				p Иногда используем наркоз. Но&nbsp;только вместе с&nbsp;анестезиологами, с&nbsp;пульсоксиметром, кардиомониторами и&nbsp;готовым аппаратом ИВЛ.

			+item(5, `Проводим лечение только под микроскопом с&nbsp;12,5 кратным увеличением`)
				p С&nbsp;ним врач видит, что лечит! Поэтому:
				
				p &mdash;&nbsp;Сохраняем даже &laquo;обречённые зубы&raquo;<br>&mdash;&nbsp;Продлеваем жизнь зубу, работая только в&nbsp;пределах поражённых тканей и&nbsp;не&nbsp;затрагивая здоровые<br>&mdash;&nbsp;Диагностируем кариес на&nbsp;самых ранних стадиях и&nbsp;даже в&nbsp;самых труднодоступных зонах фиссур<br>&mdash;&nbsp;Качественно пломбируем каналы, так как в&nbsp;среднем их&nbsp;ширина равна 0,5&nbsp;мм и&nbsp;с&nbsp;микроскопом можно исключить появление пустот

			+item(6, `Обязательно применяем коффердам`)
				p Это латексная пластина, которая изолирует один или несколько зубов. Раньше стоматологи лечили без латексной защиты, а&nbsp;потом удивлялись часто выпадающим пломбам и&nbsp;непролеченным корневым каналам.
				
				p С&nbsp;коффердамом пломба прослужит гораздо дольше, ведь во&nbsp;время лечения на&nbsp;зуб не&nbsp;будет попадать слюна и&nbsp;аспирационная влага (выделяется при дыхании). Также увеличится адгезия (приклеивание) пломбы к&nbsp;зубу.

			+item(7, `Ставим фотополимерные пломбы последнего поколения`)
				p Раньше были пломбы химического отверждения, но&nbsp;они давали усадку&nbsp;&mdash; поэтому их&nbsp;часто меняли.
				
				p Мы&nbsp;используем современные фотополимерные композиты от&nbsp;лидеров рынка&nbsp;&mdash; Ivoclar Vivadent (Германия) и&nbsp;3М (США).
				
				p &laquo;Световые&raquo; композиты наносятся тонкими слоями и&nbsp;застывают под действием света от&nbsp;ультрафиолетовой лампы. В&nbsp;итоге пломбы лучше выглядят (проще подобрать к&nbsp;цвету зуба) и&nbsp;гораздо дольше держатся.

			+item(1, `Щадящие инструменты лучших европейских производителей`)
				p Используем инструменты малого диаметра, даже зеркала для обзора маленькие и&nbsp;аккуратные.
				
				p Боры твёрдосплавные&nbsp;&mdash; не&nbsp;перегревают кость.
				
				p Специальные умные эндомоторы при пломбировании сами сигнализируют, когда достигают корня. Пломбируем инжекторным способом&nbsp;&mdash; горячая гуттаперча нагнетается в&nbsp;зуб и&nbsp;закрывается.
				p Инструмент элеватор для удаление зубов и&nbsp;зубных камней&nbsp;&mdash; швейцарский. Он&nbsp;очень тонкий и&nbsp;невероятно острый&nbsp;&mdash; это сказывается на&nbsp;комфорте пациента и&nbsp;качестве удаления.
				p #[strong Это сказывается на&nbsp;комфорте пациента, так как реабилитация проходит быстрее и&nbsp;лучше.]

	+sProblem()
		+b.section-title
			h2 Эти заболевания лечим и диагностируем чаще всего
		mixin problemItem(i,pr)
			+b.problemItem--02.link-modal(href=`#promlem-${pr}`)&attributes(attributes)
				.row
					+e.coll.col-sm-6
						+e.text-block
							block
							.h5 от X XXX грн
						+e.btn--02
							+icon('arrow-r')
					+pic(`disease-${i}`)
		+problemItem('1','caries')
			.h4 Кариес
		.row
			.col-lg-6
				+problemItem('2','gingivitis')
					.h4 Гингивит
			.col-lg-6
				+problemItem('3','periodontitis')
					.h4 Пародонтит
			.col-lg-6
				+problemItem('4','pulpitis')
					.h4 Пульпит
			.col-lg-6
				+problemItem('5','periodontitis-2')
					.h4 Периодонтит
	//- +sWithFamily()
	+sReviews()
	+sSpecialist('sl')
		.row
			.col-lg-5
				mixin slide(i)
					.swiper-slide
						+e.slide(href="https://youtu.be/5xWnpM7f2gc" data-fancybox="video")
							picture
								source.swiper-lazy(srcset="#" data-srcset=`img/@2x/webp/technology-3.webp` type="image/webp")
								img.swiper-lazy(src="#" data-src=`img/@2x/technology-3.jpg`, alt="")
							+e.play
								+icon('play')
				+e.slider.swiper-container.specialistSlider-js
					if sl
						.specialistSlider-prev
							+icon('sliderArrow')
					.swiper-wrapper
						if sl
							+slide()
							+slide()
						else
							+slide()
					if sl
						.specialistSlider-next
							+icon('sliderArrow')

			.col
				+b.section-title
					h2 Ваши зубы вылечит Мороз Виктория Викторовна
				.row
					+e.col.col-md-8.col-xl-auto
						.h5 Врач-терапевт
						p #[strong Стаж:] 4 лет
						+e.text #[strong Специализация:] Лечение кариеса с&nbsp;применением операционного микроскопа, прямые реставрации (фп&nbsp;материалы с&nbsp;полным восстановлением формы зуба и&nbsp;коррекцией по&nbsp;цвету), первичная и&nbsp;вторичная эндодонтия.
						+e.text #[strong Увлечения:] Рисование, графика и дизайн, поэтому у неё есть серьёзный художественный подход к реставрации каждого зуба.
					.col-5.col-md
						+e.certificate(href="img/@2x/certificate.jpg" data-fancybox="certificate")
							+pic('certificate')
						+e.allCertificate(href="#")
							+icon('document')
							span Все 24 сертификата
					.col.col-md-12
						+e.partners
							mixin partnerItem(i)
								+e.partnerItem
									+pic(`partner-${i}.png`)
							+partnerItem(1)
							+partnerItem(2)
							+partnerItem(3)
							+partnerItem(4)
							+partnerItem(5)
					
				+e.btn(href="#") Записаться на консультацию
	//- +sMyths(class="bg-dark")
	+sLocation-02('t')

	+footer()


	